// http://eslint.org/docs/user-guide/configuring
{
  root: true,
  parser: 'babel-eslint',
  parserOptions: {
    sourceType: 'module'
  },
  env: {
    "browser": true,
    "node": true,
    "es6": true
  },
  globals: {
    __DEV__: false,
    __PROD__: false
  },
  extends: 'standard',
  plugins: [
    'html' // required to lint *.vue files
  ],
  'rules': {
    'arrow-parens': 0, // allow paren-less arrow functions
    'generator-star-spacing': 0, // allow async-await
    'no-debugger': 0, // allow debugger
    'indent': ['error',4],
    'no-undef': 0, //有未定义的变量
    'vue/html-self-closing': 'off'
  }
}
