.app-ploter-feature {
    width: 320px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.app-ploter-feature-header {
    display: flex;
    height: 40px;
    line-height: 40px;
    background-color: #efefef;
    border-bottom: 1px solid #eaeaea;

}
.app-ploter-feature-title {
    flex: 1;
    padding: 0 8px;
}
.app-ploter-feature-header-btn {
    flex: 1;
    padding: 0 8px;
}
.app-ploter-feature-body {
    padding: 8px;
    .moft-fieldset {
        margin: 0 0 8px 0 !important;
        &:last-child {
            margin: 0 !important;
        }
    }
    .moft-fieldset-legend {
        font-size: 14px !important;
        font-weight: bold;
    }
    .moft-fieldset-body {
        padding: 4px 8px 8px;
    }
    .ivu-row {
        line-height: 24px;
        margin-bottom: 8px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .label-col {
        text-align: right;
        padding-right: 8px;
    }
    .ivu-input-number {
        width: 100%;
    }
    .ivu-color-picker {
        display: initial !important;
    }
    .ivu-color-picker-color {
        width: auto !important;
    }
    .ivu-slider-input {
        padding-left: 8px;
        .ivu-input-number {
            width: 40px;
            margin-top: -10px !important;
        }
        .ivu-slider-wrap {
            margin: 8px 56px 0 0 !important;
        }
    }
    .ivu-radio-group-button {
        .ivu-radio-wrapper {
            padding: 0 8px !important;
        }
    }
}

.app-ploter-feature-layer-fieldset {
    .moft-fieldset-body {
        text-align: center;
    }
}